Package: com.apibug.awecommentaudiotweak
Name: AWECommentAudioTweak
Version: 1.0.0
Architecture: iphoneos-arm64
Description: 一个平平无奇的音频工具插件。
Maintainer: Apibug
Author: Apibug <apibug.com>
Section: Tweaks
Depends: firmware (>= 15.0)
